# **Sprint 2 - Python b치sico 游냀**
---



Todav칤a desempe침치ndote como miembro del equipo anal칤tico, en el primer proyecto hemos sentado las bases para la segunda fase. 춰Hemos llegado! Ahora aplicar치s t칠cnicas avanzadas para extraer datos significativos, atendiendo a las crecientes necesidades del cliente.

Como sabes, las empresas recopilan y almacenan datos de una forma particular. **Store 1** quiere almacenar toda la informaci칩n de sus clientes en una tabla.


| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

En t칠rminos t칠cnicos, una tabla es simplemente una lista anidada que contiene una sublista para cada usuario o usuaria.

**Store 1** ha creado una tabla de este tipo para sus usuarios. Est치 almacenada en la variable "users". Cada sublista contiene el ID del usuario, nombre y apellido, edad, categor칤as favoritas y el importe gastado en cada categor칤a.

- `user_id:` Identificador 칰nico para cada usuario.
- `user_name:` El nombre del usuario.
- `user_age:` La edad del usuario.
- `fav_categories:` Categor칤as favoritas de los art칤culos que compr칩 el usuario, como 'ELECTRONICS', 'SPORT' y 'BOOKS' (ELECTR칍NICOS, DEPORTES y LIBROS), etc.
- `total_spendings:` Una lista de n칰meros enteros que indican la cantidad total gastada en cada una de las categor칤as favoritas.

In [1]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

## 丘뙖잺**Paso 1**
---

En la 칰ltima tarea de la primera parte de este proyecto escribiste c칩digo para:

1. Eliminar todos los espacios iniciales y finales de los nombres, as칤 como cualquier guion bajo.
2. Convertir todas las edades en n칰meros enteros.
3. Separar todos los nombres y apellidos en una sublista.

Hag치moslo ahora una funci칩n para que podamos usarla para fijar a cualquier cliente. Nombra a tu funci칩n `clean_user`. Debe recibir una lista con toda la informaci칩n del cliente (*user_info*), as칤 como dos enteros. Uno de ellos se침ala el 칤ndice del nombre del cliente y el otro es el 칤ndice de la edad del cliente en la lista. Debe devolver la lista limpia despu칠s de aplicar todos los cambios anteriores. Pru칠bala llam치ndola, pas치ndole la lista `test_user[]` y luego mu칠strala en pantalla.

In [2]:
def clean_user(user_info, name_index, age_index):
    name = (
        user_info[name_index]
        .strip()
        .replace('_', ' ')
        .split(' ')
    )
    age = int(user_info[age_index])

    user_info = [user_info[0], name, age, user_info[3], user_info[4]]
    return user_info

test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
name_index = 1
age_index = 2

print(clean_user(test_user, name_index, age_index))

['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

## 游대**Paso 2**
---

Observa que todas las categor칤as favoritas est치n almacenadas en may칰sculas. Llena una nueva lista llamada `fav_categories_low` con las mismas categor칤as, pero en min칰sculas, iterando sobre los valores en la lista `fav_categories`, modific치ndolos y luego a침ade los nuevos valores a la lista `fav_categories_low`. Como siempre, muestra el resultado final.

In [3]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = []

# Bucle para iterar sobre la lista
for element in fav_categories:
    fav_categories_low.append(element.lower())

print(fav_categories_low)

['electronics', 'sport', 'books']

## 游대**Paso 3**
---

Ahora hagamos lo mismo, pero para cada uno de los usuarios de la empresa. 

- Llena una lista nueva llamada `users_categories_low` con los mismos usuarios, pero con sus categor칤as en min칰sculas, iterando sobre los valores en la lista `users`.
- Itera sobre los valores en `user_categories`, modific치ndolos, y despu칠s agrega los nuevos valores de usuarios a la lista `users_categories_low`. 

Como siempre, muestra el resultado final.

In [4]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

users_categories_low = []

for user in users:
    categories_low = []
      
    for category in user[3]:
        lowered_category = category.lower() 
        categories_low.append(lowered_category) 
        
    user.pop(3)
    user.insert(3, categories_low)
    
    users_categories_low.append(user)

print(users_categories_low)

[['32415', ' mike_reed ', 32.0, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', 'kate morgan', 24.0, ['clothes', 'books'], [439, 390]], ['32156', ' john doe ', 37.0, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', 'SAMANTHA SMITH', 29.0, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', 'David White', 41.0, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', 'emily brown', 26.0, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ' Maria Garcia', 33.0, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', 'JOSE MARTINEZ', 22.0, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', 'lisa wilson ', 35.0, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', 'James Lee', 28.0, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

## 丘뙖잺**Paso 4**
---

Ahora, completemos el c칩digo de nuestra funci칩n `clean_user` para limpiar la categor칤a:
1. A침ade otro par치metro con el 칤ndice de categor칤as.
2. Pon todos los nombres en min칰sculas antes de aplicar "strip" y "replace".

Despu칠s, crea un bucle y aplica tu funci칩n a toda la lista de usuarios, agregando tus resultados a la lista `users_clean`. Despu칠s mu칠stralo.

In [5]:
def clean_user(user_info, name_index, age_index, cat_index):
    user_name = (
       user_info[name_index]
       .lower()
       .strip()
       .replace('_', ' ')
       .split(' ')
    )
    user_age = int(user_info[age_index])

    categories_low = []
    
    for category in user_info[cat_index]:
        lowered_category = category.lower() 
        categories_low.append(lowered_category) 
    
    user_info = [user_info[0], user_name, user_age, categories_low, user_info[4]]
    return user_info

users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

name_index = 1
age_index = 2
cat_index = 3
users_cleaned = []

for user in users: 
  user_cleaned = clean_user(user, 1, 2, 3) 
  users_cleaned.append(user_cleaned) 

for user in users_cleaned:
   print(user)

print(users_cleaned)

['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]
['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]]
['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]]
['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]]
['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]]
['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]]
['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]]
['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]]
['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]]
['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]
[['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

## 游대**Paso 5**
---

La empresa desea conocer sus ingresos totales y te pide que proporciones este valor.
Para calcular los ingresos de la empresa, sigue estos pasos:

1. Utiliza `for` para iterar sobre la lista `users`.
2. Extrae la lista de gastos de cada usuario y suma los valores.
3. Actualiza el valor de los ingresos con el total de cada usuario.

As칤 obtendr치s los ingresos totales de la empresa que mostrar치s en la pantalla al final.

In [6]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

revenue = 0

for user in users:
    spendings_list = user[-1]
    total_spendings = sum(spendings_list)
    revenue += total_spendings

print(f'Ingreso total de la empresa: ${revenue}')

Ingreso total de la empresa: $9189

## 游댃**Paso 6**
---

La empresa quiere ofrecer descuentos a sus clientes leales. Los clientes que realizan compras por un importe total mayor a $1500 se consideran leales y recibir치n un descuento.

Nuestro objetivo es crear un bucle `while` que compruebe el importe total gastado y se detenga al alcanzarlo. Para simular nuevas compras, la variable `new_purchase` genera un n칰mero entre 30 y 80 en cada iteraci칩n del bucle. Esto representa la cantidad de dinero gastada en una nueva compra y es lo que debes agregar al total.

Una vez que se alcance el importe objetivo y se termine el bucle `while`, se mostrar치 la cantidad final.

In [7]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent <= target_amount:
    new_purchase = randint(30, 80) # generamos un n칰mero aleatorio de 30 a 80
    total_amount_spent += new_purchase 

print(total_amount_spent)

1540

## 游**Paso 7**
---

Recorre la lista de usuarios que te hemos proporcionado y muestra los nombres de los clientes menores de 30 a침os.

In [8]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for user in users:
    if user[2] < 30:
        print(user[1][0])

kate
samantha
emily
jose
james

## 游**Paso 8**
---

Mostremos en pantalla los nombres de los usuarios menores de 30 a침os que acumulan un gasto total superior a 1000 d칩lares.

In [9]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

# escribe tu c칩digo aqu칤
for user in users:
    if (user[2] < 30) and (sum(user[-1]) > 1000) :
        print(user[1][0])

samantha
james

## 游**Paso 9**
---

Ahora vamos a mostrar el nombre y la edad de todos los usuarios y todas las usuarias que han comprado ropa ("clothes"). Imprime el nombre y la edad en la misma declaraci칩n print.

In [10]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

# escribe tu c칩digo aqu칤
for user in users:
    if "clothes" in user[3]:
        print(user[1][0], user[2])

kate 24
samantha 29
maria 33
lisa 35
james 28

## 游대**Paso 10**
---


La direcci칩n requiere de una funci칩n que proporcione informaci칩n sobre los clientes, incluyendo sus nombres, edades y gasto total, filtrada por categor칤as espec칤ficas. Con base en fragmentos de c칩digo anteriores, crearemos una funci칩n llamada `get_client_by_cat` con las siguientes especificaciones:

1. **Par치metros:**
   - **users:** una lista con los datos de los usuarios.
   - **id_index:** el 칤ndice donde est치 almacenado el ID del cliente en la lista de usuarios.
   - **name_index:** el 칤ndice donde est치 almacenado el nombre del cliente en la lista de usuarios.
   - **age_index:** el 칤ndice donde la edad del cliente est치 almacenada en la lista de usuarios.
   - **category_index:** el 칤ndice donde las categor칤as de compras del cliente est치n listadas.
   - **amounts_index:** el 칤ndice donde las cantidades gastadas en cada categor칤a est치n almacenadas.
   - **filter_category:** un string que representa el nombre de la categor칤a para filtrar clientes.

2. **Salida:**
   - La funci칩n devuelve una lista de sublistas. Cada sublista contiene:
     - El n칰mero ID del cliente.
     - Una sublista con el nombre y apellido del cliente.
     - La edad del cliente.
     - Un entero que representa la cantidad total gastada por el cliente.

Por ejemplo, si llamas a la funci칩n con los siguientes par치metros:


```python
get_client_by_cat([
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]
], 0, 1, 2, 3, 4, 'books')
```

La salida ser치:

```python
[['32415', ['mike', 'reed'], 32, 1280]]
```

Esta salida muestra que el cliente con el ID '32415', llamado Mike Reed, de 32 a침os, gast칩 un total de 1280 en la categor칤a 'books' y otras compras.

Despu칠s de hacer tu funci칩n, ll치mala pas치ndole nuestra lista de usuarios, los 칤ndices adecuados y la categor칤a 'home' y muestra en pantalla la lista que resulta.

In [11]:
def get_client_by_cat(users, id_index, name_index, age_index, category_index, amounts_index, filter_category):
    filtered_list = []
    for user in users:
        if filter_category in user[category_index]:
            user_spend_in_category = sum(user[amounts_index])
            user_filtered = [user[id_index], user[name_index], user[age_index], user_spend_in_category]
            filtered_list.append(user_filtered)
    return filtered_list

users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]
]

# Llama a la funci칩n con la categor칤a 'home'
result = get_client_by_cat(users, 0, 1, 2, 3, 4, 'home') # escribe tu c칩digo aqu칤

# Muestra en pantalla la lista que resulta
print(result)

[['32156', ['john', 'doe'], 37, 678], ['32984', ['david', 'white'], 41, 806], ['33001', ['emily', 'brown'], 26, 951], ['33912', ['jose', 'martinez'], 22, 917], ['34009', ['lisa', 'wilson'], 35, 847]]